.foodIntroImage {
  background-image: url("../assets/foodsIntro.jpg");
  height: 400px;
  width: 400px;
  min-height: 300px;
  min-width: 300px;
  position: relative;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 250px;
  margin: 0 auto;
}

.introContainer {
  position: absolute;
  color: white;
  overflow: visible;
  margin-top: 100px;
  z-index: 40;
}

@media (max-width: 400px) {
  .foodIntroImage {
    height: 300px;
    width: 300px;
    min-height: 150px;
    min-width: 150px;
    border-radius: 150px;
  }
}

@media (max-width: 300px) {
  .foodIntroImage {
    height: 200px;
    width: 200px;
    min-height: 150px;
    min-width: 150px;
    border-radius: 100px;
  }
}
